<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Área Administrativa</title>

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo-weltonjr.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin.css') }}">

  <!-- FONTS -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>

<body>

  <main class="login-wrapper">

    <div class="login-card">

      <h1>
        Área administrativa
      </h1>


      {% with mensagens = get_flashed_messages(with_categories=true) %}

      {% for categoria, mensagem in mensagens %}

      <div class="flash flash-{{ categoria }}">
        {{ mensagem }}
      </div>

      {% endfor %}

      {% endwith %}


      <form method="POST">

        <div class="campo">

          <label>
            Usuário
          </label>

          <input type="text" name="usuario" required>

        </div>


        <div class="campo">

          <label>
            Senha
          </label>

          <input type="password" name="senha" required>

        </div>


        <button type="submit">
          Entrar
        </button>

      </form>

      <a href="{{ url_for('home') }}" class="voltar-site">
        ← Voltar para o site
      </a>

    </div>

  </main>

</body>

</html>